In [0]:
l = ['rekha','bahij','mizuki','yigit',5, 5.05,['3', 4,5]]

In [0]:
l[0:3]

['rekha', 'bahij', 'mizuki']

In [0]:
l[1]

2

In [0]:
l[2:4]

[3, 4]

In [0]:
fruits = ['orange', 'apple', 'pear', 'banana', 'kiwi', 'apple', 'banana']

In [0]:
fruits.index('apple')

1

In [0]:
fruits.index('banana', 4)  # Find next banana starting a position 4

6

In [0]:
fruits[0] = 'orange'

fruits

['orange', 'apple', 'banana', 'banana', 'kiwi', 'orange', 'pear']

In [0]:
fruits

['apple', 'apple', 'banana', 'banana', 'kiwi', 'orange', 'pear']

>>> stack = [3, 4, 5]

>>> stack.append(6)

>>> stack.append(7)

>>> stack
[3, 4, 5, 6, 7]

>>> stack.pop()
7

>>> stack
[3, 4, 5, 6]

>>> stack.pop()
6

>>> stack.pop()
5

>>> stack
[3, 4]

In [0]:
stack = [3, 4, "5"]

stack.pop()
stack

[3, 4]

>>> '{0}, {1}, {2}'.format('a', 'b', 'c')
'a, b, c'

>>> '{}, {}, {}'.format('a', 'b', 'c')  # 2.7+ only
'a, b, c'

>>> '{2}, {1}, {0}'.format('a', 'b', 'c')
'c, b, a'

>>> '{2}, {1}, {0}'.format(*'abc')      # unpacking argument sequence
'c, b, a'

>>> '{0}{1}{0}'.format('abra', 'cad')   # arguments' indices can be repeated
'abracadabra'


>>> 'Coordinates: {latitude}, {longitude}'.format(latitude='37.24N', longitude='-115.81W')
'Coordinates: 37.24N, -115.81W'

>>> coord = {'latitude': '37.24N', 'longitude': '-115.81W'}

>>> 'Coordinates: {latitude}, {longitude}'.format(**coord)
'Coordinates: 37.24N, -115.81W'

In [0]:
'{0}, {2}, {1}'.format('a', 'b', 'c') 



coord = {'latitude': '37.24N', 'longitude': '-115.81W'}

'Coordinates: {latitude}, {longitude}'.format(**coord)

'Coordinates: 37.24N, -115.81W'

>>> import datetime

>>> d = datetime.datetime(2010, 7, 4, 12, 15, 58)


```
# This is formatted as code
```


>>> '{:%Y-%m-%d %H:%M:%S}'.format(d)
'2010-07-04 12:15:58'

In [0]:
import datetime
d = datetime.datetime(2010, 7, 4, 12, 15, 58)
'{:%Y-%m-%d %H:%M:%S}'.format(d)

'2010-07-04 12:15:58'

>>> t = 12345, 54321, 'hello

>>> t[0]
12345

>>> t
(12345, 54321, 'hello!')

In [0]:
t = 12345, 54321, 'hello'
t[0] = 234

TypeError: ignored

>>> basket = ['apple', 'orange', 'apple', 'pear', 'orange', 'banana']
>>> fruit = set(basket)               create a set without duplicates
>>> fruit
set(['orange', 'pear', 'apple', 'banana'])
>>> 'orange' in fruit                 fast membership testing
True
>>> 'crabgrass' in fruit
False

>>>  Demonstrate set operations on unique letters from two words
...
>>> a = set('abracadabra')

>>> b = set('alacazam')

>>> a                                  
unique letters in a
set(['a', 'r', 'b', 'c', 'd'])

>>> a - b                               
letters in a but not in b
set(['r', 'd', 'b'])

>>> a | b                             
letters in either a or b

set(['a', 'c', 'r', 'd', 'b', 'm', 'z', 'l'])

>>> a & b                              
letters in both a and b
set(['a', 'c'])
>>> a ^ b                              
letters in a or b but not both
set(['r', 'd', 'b', 'm', 'z', 'l'])

In [0]:
basket = ['apple', 'orange', 'apple', 'pear', 'orange', 'banana']
a = set(basket)
print(a)



b = set(['orange', 'pear', 'zoo'])

b - a

{'orange', 'pear', 'banana', 'apple'}

{'zoo'}

>>> tel = {'jack': 4098, 'sape': 4139}

>>> tel['guido'] = 4127

>>> tel
{'sape': 4139, 'guido': 4127, 'jack': 4098}

>>> tel['jack']
4098

>>> del tel['sape']

>>> tel['irv'] = 4127

>>> tel
{'guido': 4127, 'irv': 4127, 'jack': 4098}

>>> tel.keys()
['guido', 'irv', 'jack']

>>> 'guido' in tel
True

dict(sape=4139, guido=4127, jack=4098)

{'sape': 4139, 'jack': 4098, 'guido': 4127}

In [0]:
tel = {0: 4098, '1': 4139}

In [0]:
tel[0]

4098