In [76]:
#Q1

birthy = [1999, 1995, 2005, 2010, 2007, 2006, 1994, 1996, 1979, 2008]
currenty = 2019

print (currenty)
print (birthy)

import numpy as np

def age():
  result = np.array(currenty)-np.array(birthy)
  return (result)
  
age()
AGE=list(age())
AGE

2019
[1999, 1995, 2005, 2010, 2007, 2006, 1994, 1996, 1979, 2008]

[20, 24, 14, 9, 12, 13, 25, 23, 40, 11]

In [77]:
#experiments

print(max(AGE))
print(min(AGE))

MAX=max(age())
MIN=min(age())

result2 = [x for x in AGE if x != MAX]
result2 = [x for x in result2 if x != MIN]
print(result2)

40
9
[20, 24, 14, 12, 13, 25, 23, 11]

In [78]:
#Q2

def outlier():
  MAX=max(age())
  MIN=min(age())

  result2 = [x for x in AGE if x != MAX]
  result2 = [x for x in result2 if x != MIN]
  return (result2)

print(outlier())

[20, 24, 14, 12, 13, 25, 23, 11]

In [79]:
#Q3

berlin = [15, 13, 16, 18, 19, 15,9, 10]
munich = [13, 15, 20, 19, 17, 10, 16, 15]

def commonage():
  result3= [x for x in berlin if x in munich]
  return (result3)

print(commonage())

[15, 13, 16, 19, 15, 10]

In [82]:
#Q4

berlin = [15, 13, 16, 18, 19, 15,9, 10]
munich = [13, 15, 20, 19, 17, 10, 16, 15]

def uniquecommonage():
  result3= [x for x in berlin if x in munich]
  return (set(result3))

print(uniquecommonage())

{10, 13, 15, 16, 19}

In [106]:
#Q5

values=[15,13,16,18,19,15,10]
c=15

def presentage():
  
  if c in values:
   return True
  else:
   return False

print(presentage())

True